* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  @font-face {
    src: url(Cookie-Regular.ttf);
    font-family: coo;
}

.justify {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

body {
  overflow-x: hidden;
  background-color: antiquewhite;
}

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -10;
    background-color: #BF307F;
  }
  
  .container {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    color: black;
    animation: expand .8s ease forwards;
    background-color: antiquewhite;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all .8s ease;
  }
  
  .container_content {
   width: 60%;
  }
  
  .container_content_inner {
    width: 80%;
    margin-left: 80px;
  }
  
  .container_outer_img {
    margin: 50px;
    width: 30%;  /*The size of the image */
    overflow: hidden;
  }   
      
  .container_img {
    width: 100%;
    animation: slideIn 1.5s ease-in-out forwards;
  }
  
  .information {
    height: auto;
    overflow: hidden;
    padding-bottom: 10px;
  }
  
  p{
    line-height: 10px;
    margin-top: 10px;
    font-size: 20px;
  }
  
  
  .title {
    overflow: hidden;
    height: auto;
  }
  
  h1 {
      font-size: 70px;
      color: #BF307F;
      margin-top: 100px;
      margin-bottom: 20px;
      font-family: coo;
      transform: translateY(100px);
      animation: slideUp .8s ease forwards .5s;
  }
  
  address {
    font-size: 20px;
    text-decoration: underline;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateX(500px) scale(.2);
    }
    100% {
      transform: translateX(0px) scale(1);
    }
  }
  
  @keyframes slideUp {
    0% {
      transform: translateY(300px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  @keyframes expand {
    0% {
      transform: translateX(1400px);
    }
    100% {
      transform: translateX(0px);
    }
  }

  .icon {
    margin-top: 30px;
    margin-right: 10px;
  }

  /* Navigation bar*/
.nav {
    margin-top: 50px;
    margin-left: 100px;
    width: 30%;
    background-color: #eae3ea;
    overflow: auto;
}

.nav a {
    display: block;
    padding: 12px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    border-bottom: 2px solid #bbb;
}
nav a:hover {
    background-color: #b4dbc0; /*Show the color of the tab that your mouse is pointing*/
}
.active {
    background-color: #b56357; /*Show the color of the current page */
}

.website-footer {
  text-align: left;
}

.footer-left {
  font-size: 15px;
  margin-left: 15%;
}
  