*{
    /*margin: 0;*/
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.justify {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
}

body {
    background-color: antiquewhite;
    animation-duration: 10s;
    animation-name: slidein;
    overflow-x: hidden;
} 
 @keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}



@font-face {
    src: url(PermanentMarker-Regular.ttf);
    font-family: per;
}

h1 {
    text-align: center;
    font-size: 60px;
    font-family: per;
    color: #A7754D;
    text-decoration: underline;
}


.intro {
    position:fixed;
    background: #C09F80;
    z-index: 0;
    top: 0; /* This is for not having the backgound color to exist*/
    left: 0;  /* This is for not having the backgound color to exist*/
    width: 100%;
    height: 100vh;
    transition: 2s;
}

.intro-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #76323f;
    font-size: 60px; /*The size of the word project */
    font-family: per;
}

.half {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.half.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.half.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

/* Navigation bar*/
.nav {
    width: 100%;
    background-color:  #eae3ea;
    overflow: auto;
}
.nav a {
    float: left;
    padding: 12px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    width: 25%; /*Need to change the size of each section in the navigation bar*/
    text-align: center;
    border-right: 2px solid #bbb;
}
nav a:hover {
    background-color: #b4dbc0; /*Show the color of the tab that your mouse is pointing*/
}
.nav .active {
    background-color: #b56357; /*Show the color of the current page */
}


/*The image and paragraph on the top*/
.topLeft {
    display: flex;
    align-items: center;
}

.topLeft img {
    width: 600px;
    height: 500px;
    float: left;
    border: solid 10px #bbb;
    margin-top: 25px;
    margin-left: 20px;
    vertical-align: middle;
    margin-bottom: 50px;
}


.topLeft span {
    margin-left: 3%;
    overflow: hidden;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif, "Bubble Sans", Arial, Helvetica, sans-serif;
    line-height: 31px;
}


/*The image and paragraph on the middle*/
.middle {
    display: flex;
    align-items: center;
}

.middle img {
    width: 600px;
    height: 500px;
    float: left;
    border: solid 10px #bbb;
    margin-top: 25px;
    margin-left: 20px;
    vertical-align: middle;
    margin-bottom: 50px;
}

.middle span {
    float: right;
    margin-right: 3%;
    margin-left: 20px;
    overflow: hidden;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif, "Bubble Sans", Arial, Helvetica, sans-serif;
    line-height: 31px;
}

/*The image and paragraph at the bottom of the page*/
.bottomLeft {
    display: flex;
    align-items: center;
}

.bottomLeft img {
    width: 600px;
    height: 500px;
    float: left;
    border: solid 10px #bbb;
    margin-top: 25px;
    margin-left: 20px;
    vertical-align: middle;
    margin-bottom: 50px;
}


.bottomLeft span {
    margin-left: 3%;
    overflow: hidden;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif, "Bubble Sans", Arial, Helvetica, sans-serif;
    line-height: 31px;
}

.bottom {
    display: flex;
    align-items: center;
}

.bottom img {
    width: 600px;
    height: 500px;
    float: left;
    border: solid 10px #bbb;
    margin-top: 25px;
    margin-left: 20px;
    vertical-align: middle;
    margin-bottom: 50px;
}

.bottom span {
    margin-right: 3%;
    margin-left: 20px;
    overflow: hidden;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif, "Bubble Sans", Arial, Helvetica, sans-serif;
    line-height: 31px;
}

.website-footer {
    text-align: center;
}