* {
    /*margin: 0;*/
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

.justify {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
}

@font-face {
    src: url(Pacifico-Regular.ttf);
    font-family: pac;
}


h1 {
    font-family: pac;
    font-size: 60px;
}


svg {
    width: 500px;
    height: 800px;
    position: absolute;
    transform: translate(0%,50%); /*The running animation and its position*/
}

svg .draw {
    stroke: #000;
    stroke-width: 4px;
    fill: transparent;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: animate 5s forwards infinite;
}

@keyframes animate {
    to {
        stroke-dashoffset: 0;
    }
}

.splash {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #c09f80; /* Color of the background when you start open */
    z-index: 200;
    color: #76323f;
    text-align: center;
    line-height: 90vh;
}
 
/*This is responsible for the Home page to appear happens*/
.splash.display-none {
    position: flex;
    opacity: 0;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: -10;
    text-align: center;
    line-height: 90vh;
    transition: all 0.5s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/*How long the heading appear*/
.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}


body {
    background-color:antiquewhite;
    overflow-x: hidden;
}

h2 {
    animation-duration: 3s;
    animation-name: slidein;
    text-decoration: underline;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  h3 {
    animation-duration: 5s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }


.header {
    background-color: antiquewhite;
    display:block;
    text-align: center;
    max-width: 1920px;
    /*margin: 1%;*/
    margin-top: 1%;
    margin-bottom: 1%;
} 


/* Navigation bar*/
.nav {
    width: 100%;
    background-color: #eae3ea;
    overflow: auto;
}

.nav a {
    float: left;
    padding: 12px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    width: 25%; /*Need to change the size of each section in the navigation bar*/
    text-align: center;
    border-right: 2px solid #bbb;
}
nav a:hover {
    background-color: #b4dbc0; /*Show the color of the tab that your mouse is pointing*/
}
.active {
    background-color: #b56357; /*Show the color of the current page in the navigation bar*/
}

.left {
    display: flex;
    align-items: center;
}
.left img {
    max-width: 100%;
    height: 500px;
    float: left;
    border: solid 10px #bbb;
    margin-top: 25px;
    margin-left: 20px;
    vertical-align: middle;
}


.left p {
    font-size: 30px;
    font-family:serif;
}

.left span {
    margin-left: 3%;
    overflow: hidden;
    float: right;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif, "Bubble Sans", Arial, Helvetica, sans-serif;
    line-height: 31px;
} 

.under {
    display: flex;
    align-items: center;
}

.under img {
    max-width: 100%;
    height: 500px;
    float: left;
    border: solid 10px #bbb;
    margin-top: 110px;
    margin-left: 20px;
    vertical-align: middle;
}

.under span {
    margin-left: 3%;
    overflow: hidden;
    float: right;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif, "Bubble Sans", Arial, Helvetica, sans-serif;
    line-height: 31px;
} 


.footer-left {
    margin-top: 150px;
    text-align: center;
}






@media only screen and (max-width:720px) {
    #nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .header {
        grid-template-columns: 1fr;
        text-align: center;
    }
}




